@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f5f2;
    font-family: "DM Mono", monospace;
}

a {
    text-decoration: none;
}

header {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 2px 2px;
    height: 50px;
    margin: 15px 15% 2px 15%;
    padding: 0 2% 0 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #000000;
}

#herosection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#herosection img {
    
}

#content-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px #bfc0bf, 0px -1px #bfc0bf;
    margin: 15px 0px 15px 0px;
}

#content-heading {
    font-weight: 550;
    font-size: 25px;
}

#content-option button {
    color: #000000;
    background-color: #f2f5f2;
    border: none;
    font-family: "DM Mono";
    font-size: 17px;
    cursor: pointer;
}

#content-option button:hover {
    font-weight: 500;
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about p {
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: -2px -2px;
    background-color: #ffffff;
    margin: 15px 8% 2px 8%;
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0px -1px #bfc0bf;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
